*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.sass-cache/
.versions/
node_modules/

/dist/
**/www/build/

# submodule packages
/compiler
/polyfills
/server
/sys
/testing

/screenshot/app/screenshot/
/screenshot/index.js
/screenshot/package.json
/screenshot/screenshot.connector.default.js
/screenshot/screenshot.server.default.js

test/e2e/app/components.d.ts

test/example/www/*
